// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;


}

.index {
    padding-right: 15px;
    max-width: 100%;
    margin: 8px;
    border: solid black 2px;
    border-radius: 25px;
    background-color: cyan;
    box-shadow: -1px -3px 6px 1px;

    p {
      padding: 5px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .votes {
    margin: 8px 0px 0px 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    max-width: 33px;
    max-height: 33px;
    min-width: 33px;
    min-height: 33px;
    box-shadow: grey 0px 0px 20px 7px;
  }