// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-title {
  text-align: center;
  padding-top: -20px;
}

#sign_up_button {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  clear: all;
}

.container h1 {
  margin-top: -50px;
}

#rank {
  margin-left: 20px;
}